html {
  font-family: "Poppins", sans-serif;
  background-color: #00432e;
  font-size: 62, 5%;
}

ul {
  background-color: #006445;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  border-bottom: 0.2em solid #ffffff;
  box-shadow: 0 8px 6px -6px black;
  display: flex;
  justify-content: flex-start;
}

li {
  float: left;
}

.dropdown-content {
  position: absolute;
  background-color: #ffffff;
  display: none;
  z-index: 1;
  min-width: 20vw;
}

.dropdown-content a {
  color: #ffffff;
  padding: 0.8rem 1rem;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ffffff;
}

.dropdown:hover .dropdown-content {
  display: flex;
  background-color: #005339;
  flex-direction: column;
}

.dropbtn:hover {
  color: #00432e;
  background-color: #ffffff;
}

.bottomselect {
  border-bottom: 0.2em solid #ffffff;
}

li a {
  text-decoration: none;
  display: block;
  color: #ffffff;
  padding: 15px 17px;
}

li a:hover {
  text-decoration: underline;
  background-color: #ffffff;
  color: #00432e;
}

.activepage {
  background-color: #ffffff;
  color: #00432e;
}

.h1home {
  text-align: center;
  color: #ffffff;
  font-size: 20rem;
}

section {
  margin: 5vh 12vw;
  padding: 1.5vh 1.5vw;
  background-color: #ffffff;
  border: 0.2em solid #47843d;
  box-shadow: 0 0 20px black;
}

.h1homesection {
  border-radius: 25px;
  background-color:#47843d;
  border-color: #005339;
  color: #ffffff;
  text-decoration: underline;
  
}

section h1 {
 font-size: 3rem 
}

.h1allpages {
  color: #005339;
}

section h2 {
  color: #006445;
  font-size: 1.5rem;
  margin-top: 7vh;
  text-decoration: underline;
}

.button1, .button2 {
  padding: 1vh 1vw;
  background-color: #47843d;
  color: #ffffff;
  transition-duration: 0.5s;
  border-radius: 10px;
  font-size: 1rem;
}

.button1:hover, .button2:hover {
  background-color: #006445;
}

.sectionhometext1 {
  flex-direction: column;
}

.sectionhometext2 {
  flex-direction: column;  
}

footer {
  display: flex;
  background-color: #006445;
  bottom: 0;
  margin: 0;
  padding: 2vh;
  border-top: 0.2em solid #ffffff;
  box-shadow: 0 0 8px black;
  justify-content: space-evenly;
  color: #ffffff;
  height: 25vh;
}

.footertoptext {
  text-decoration: underline;
  font-weight: bold;
}

.footerimage {
  display: flex;
}

.footerimagestyle {
  border-radius: 10px;
}

.mainblock1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.mainblock1 h2 {
  font-size: 2rem;
}

.mainblock1 p {
  font-weight: bold;
  font-size: 1.5rem;
}

.mainblock1 div {
  width: 30vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainblock1 img {
  object-fit: cover;
  width: 30vw;
  display: flex;
  align-items: center;
}

.aboutush1 {
  color: #FFFFFF;
}

.contactdiv {
  display: flex;
}

.buttoncontact {
  padding: 1vh 1vw;
  background-color: #47843d;
  color: #ffffff;
  transition-duration: 0.5s;
  border-radius: 10px;
  font-size: 1rem;
  margin-top: 2rem;
}
