* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Poppins", sans-serif;
  background-color: #00432e;
  font-size: 62, 5%;
}

body {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  padding-bottom: 16rem;
}

ul {
  background-color: #006445;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  border-bottom: 0.2em solid #ffffff;
  box-shadow: 0 8px 6px -6px black;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10vh;
}

li {
  float: left;
}

.dropdown-content {
  position: absolute;
  background-color: #ffffff;
  display: none;
  z-index: 1;
  min-width: 20vw;
}

.dropdown-content a {
  color: #ffffff;
  padding: 0.8rem 1rem;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ffffff;
}

.dropdown:hover .dropdown-content {
  display: flex;
  background-color: #005339;
  flex-direction: column;
}

.dropbtn:hover {
  color: #00432e;
  background-color: #ffffff;
}

.bottomselect {
  border-bottom: 0.2em solid #ffffff;
}

li a {
  text-decoration: none;
  display: block;
  color: #ffffff;
  padding: 15px 17px;
}

li a:hover {
  text-decoration: underline;
  background-color: #ffffff;
  color: #00432e;
}

.activepage {
  background-color: #ffffff;
  color: #00432e;
}

.h1home {
  text-align: center;
  color: #ffffff;
  font-size: 20rem;
  margin: 3vh;
}

section {
  padding: 1.5vh 1.5vw;
  background-color: #ffffff;
  border: 0.2em solid #47843d;
  box-shadow: 0 0 20px black;
  margin: 0 auto;
  width: 64vw;
  padding: 3vw;
  margin-top: 8vh;
  border-radius: 1rem;
}

.apptext {
  margin-bottom: 3vh;
}

.h1homesection {
  border-radius: 25px;
  background-color: #47843d;
  border-color: #005339;
  color: #ffffff;
  text-decoration: underline;
}

section h1 {
  font-size: 3rem;
}

.h1allpages {
  color: #005339;
}

section h2 {
  color: #006445;
  font-size: 1.5rem;
  text-decoration: underline;
}

section h3 {
  font-style: italic;
  color: #005339;
}

.button1,
.button2 {
  padding: 1vh 1vw;
  background-color: #47843d;
  color: #ffffff;
  transition-duration: 0.5s;
  border-radius: 10px;
  font-size: 1rem;
}

.button1 a,
.button2 a {
  color: #ffffff;
  text-decoration: none;
}

.button1:hover,
.button2:hover {
  background-color: #006445;
}

.button-ed {
  padding: 0.8vh 1vw;
  background-color: #47843d;
  color: #ffffff;
  transition-duration: 0.5s;
  border-radius: 10px;
  font-size: 1.7rem;
  box-shadow: 0 0 5px black;
}

.button-ed a {
  color: #ffffff;
  text-decoration: none;
}

.button-ed:hover {
  background-color: #006445;
}

.four-buttons-education {
  display: flex;
  justify-content: space-evenly;
}

.ed-video {
  display: flex;
  width: 60vw;
  margin: auto;
  border: 0.2em solid #000000;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
}

.sectionhometext1 {
  flex-direction: column;
}

.sectionhometext2 {
  flex-direction: column;
}

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  background-color: #006445;
  padding: 2vh;
  border-top: 0.2em solid #ffffff;
  box-shadow: 0 0 8px black;
  justify-content: space-evenly;
  color: #ffffff;
  height: 20vh;
  width: 100vw;
}

.footertoptext {
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 1vh;
}

.footertext {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.footerimage {
  display: flex;
}

.footerimagestyle {
  border-radius: 10px;
}

.mainblock1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.mainblock1 h2 {
  font-size: 2rem;
}

.mainblock1 p {
  font-weight: bold;
  font-size: 1.5rem;
}

.mainblock1 div {
  width: 30vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainblock1 img {
  object-fit: cover;
  width: 30vw;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.aboutush1 {
  color: #00432e;
}

.contactdiv {
  display: flex;
}

.buttoncontact {
  padding: 1vh 1vw;
  background-color: #47843d;
  color: #ffffff;
  transition-duration: 0.5s;
  border-radius: 10px;
  font-size: 1rem;
  margin-top: 2rem;
}

.studenthead {
  display: flex;
}
.studenthead img {
  display: flex;
  width: 20vw;
  height: 20vw;
  border-radius: 2rem;
  margin-left: 2rem;
}
.aboutusdiv {
  display: flex;
}

.aboutusimg {
  width: 40vw;
  display: flex;
  justify-content: flex-end;
}

.aboutusimg img {
  width: 40vw;
}

.aboutusbutton {
  padding: 1vh 1vw;
  background-color: #47843d;
  color: #ffffff;
  transition-duration: 0.5s;
  border-radius: 10px;
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.aboutusbutton a {
  text-decoration: none;
  color: #ffffff;
}

.tekstbram {
  display: flex;
  flex-direction: column;
}

.fotobram {
  display: flex;
  height: 50vh;
  width: 50vw;
}

.appimage-text {
  display: flex;
}

.appimage-text img {
  border-radius: 1.5rem;
}

.canvash2 {
  padding-top: 2rem;
}

.parentsimg {
  height: 70vh;
  width: 50vw;
  display: flex;
}

.parentsdiv {
  display: flex;
}

.parentstext {
  display: flex;
  flex-direction: column;
}

.images-software {
  display: flex;
  justify-content: space-around;
}

table, th, tr {
  border: 1px solid;
}

thead {
  color:#47843d;
  text-decoration: underline;
}