html {
    font-family: 'Poppins', sans-serif;
    background-color: #00432E;
    font-size: 62,5%;
}

ul {
  background-color: #006445;    
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;  
  border-bottom: 0.2em solid #FFFFFF ;    
}

li {
  float: left;
}

li a {
  text-decoration: none;
  display: block;
  color: #FFFFFF;
  padding: 15px 17px;
}

li a:hover {
  text-decoration: underline;
  background-color: #FFFFFF;
  color: #00432E;
}

li.login {
    float: right;
    background-color: #47843D;  
}

body h1 {
    color: #FFFFFF;
}

section {
    margin: 5vh 12vw;
    padding: 1.5vh 1.5vw;
    background-color: #FFFFFF;
    border: 0.2em solid #47843D
}

section h1 {
    color: #006445;
    font-size: 2rem;
}

section h2 {
    color: #006445;
    font-size: 1.5rem;
    margin-top: 7vh;
    text-decoration: underline;
}

.button1 {
    padding: 1vh 1vw;
    background-color: #47843D;
    color: #FFFFFF;
    transition-duration: 0.5s;
    border-radius: 10px;
    font-size: 1rem;
}

.button1:hover {
    background-color: #006445;
}

.button2 {
    padding: 1vh 1vw;
    background-color: #47843D;
    color: #FFFFFF;
    transition-duration: 0.5s;
    border-radius: 10px;
    font-size: 1rem;
}

.button2:hover {
    background-color: #006445;
}
h2 {
    color: white;
}
p {
    color: black;
  
    
}
footer {
 background-color: #47843D;
}
input {
    align-items: baseline;
}

